<ion-view view-title="Top View">
  <ion-content>
    <div class="row image-row" ng-repeat="item in imageTopViewList" ng-if="$index % 2 === 0">
      <div class="col col-50 image-item" ng-if="$index < imageTopViewList.length" ng-click="openModal(imageTopViewList[$index])">
        <img ng-src="{{imageTopViewList[$index].url}}" width="100%"/>
        <div class="detail-image-list">
          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index].count_view + ""}}</span>
            <i class="icon ion-ios-eye"></i>
          </div>

          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index].count_favorite + ""}}</span>
            <i class="icon ion-ios-heart"></i>
          </div>

          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index].count_download + ""}}</span>
            <i class="icon ion-ios-cloud-download"></i>
          </div>
        </div>
      </div>

      <div class="col col-50 image-item" ng-if="$index + 1 < imageTopViewList.length" ng-click="openModal(imageTopViewList[$index + 1])">
        <img ng-src="{{imageTopViewList[$index+1].url}}" width="100%"/>
        <div class="detail-image-list">
          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index+1].count_view + ""}}</span>
            <i class="icon ion-ios-eye"></i>
          </div>

          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index+1].count_favorite + ""}}</span>
            <i class="icon ion-ios-heart"></i>
          </div>

          <div class="detail-image-list-info">
            <span>{{imageTopViewList[$index+1].count_download + ""}}</span>
            <i class="icon ion-ios-cloud-download"></i>
          </div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="isTopViewLoading"></ion-infinite-scroll>
  </ion-content>
</ion-view>
